{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<!-- <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script> -->
<body>
   <div class="container form-image">
       <div class="row holder vertical-offset-100">
           <div class="col-s-4 col-s-offset-4">
               <div class="panel panel-default pepper-background">
                   <div class="panel-heading"></div>
                     <div class="row-fluid">
                   <div class="panel-body">
                       <div class="col-s-6 col-s-offset-4"></div>
                       <div class="col-s-6 col-s-offset-4">
                       <form accept-charset="UTF-8" role="form" class="form-signin">
                           <fieldset>
                               <label class="panel-login">
                                   <div class="login_result"></div>
                               </label>
                               <input class="form-control" placeholder="Hello (enter name)! What days do you want to be " id="username" type="text">
                                <div class="row days">
                                 <input value ="false" id ='day1' type="checkbox" aria-label="...">
                                 <span>Mon</span>
                                 <input value ="false" id ='day2' type="checkbox" aria-label="...">
                                 <span>Tue</span>
                                 <input value ="false" id ='day3'type="checkbox" aria-label="...">
                                 <span>Wed</span>
                                 <input value ="false" id ='day4'type="checkbox" aria-label="...">
                                 <span>Thu</span>
                                 <input value ="false" id ='day5'type="checkbox" aria-label="...">
                                 <span class = "nudge">Fri</span>
                                 <input value ="false" id ='day6'type="checkbox" aria-label="...">
                                 <span class = "nudge">Sat</span>
                                 <input value ="false" id ='day7'type="checkbox" aria-label="...">
                                 <span>Sun</span>
                                </div>
                               <!-- <input class="form-control" placeholder="Password" id="password" type="password"> -->
                               <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Login »">
                           </fieldset>
                       </form>
                       </div>
                     </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</body>
   </div>

{% endblock %}
