body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pepper-background{
  background-image: url(../img/half-ass-pepper.png);
}

.row-fluid{
  background-color: rgba(0, 0, 0, 0);
}

.panel-heading:{
  background-color: rgba(0, 0, 0, 0.1);
}
